<div class="row">
  <div class="side-menu">
      <br><hr>
      <a class="navbar-brand btn btn-light" style="margin-left: 51px" routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
  </div>
  <div class="container-fluid">
    <div class="side-body">
      <router-outlet><br><hr></router-outlet>
    </div>
</div>

