    <div *ngFor="let album of dash" [ngSwitch]="album.id">
        <div *ngSwitchCase="idAlbum">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="alert alert-dark" role="alert">
                      <h5>Альбом: {{album.title}}</h5>
                      <p>Исполнитель: {{album.data.author}} 
                        <br> Год: {{album.data.year}} 
                        <br> Жанр: {{album.data.genre}} 
                      </p>
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item disabled">Треклист: </li>
                      <li class="list-group-item" *ngFor="let track of album.data.songs">{{track}}</li>
                  </ul>
                </div>
                <div class="col">
                    <img class="card-img-top" src="{{album.path}}" alt="{{album.title}}">
                </div>
              </div>
            </div>
        </div>
    </div>  