<div class="row" >
    <div style="width: 300px;" *ngFor="let album of dash">
        <div class="card border-dark mb-3" style="width: 250px;">
            <img class="card-img-top" src="{{album.path}}" alt="{{album.title}}">
            <div class="card-body" style="height: 80px;">
                <h6 class="card-title font-weight-normal"><b>{{album.data.author}}</b> - {{album.title}}</h6>
            </div> 
            <div class="card-footer">
                <a class="btn btn-light d-flex justify-content-center" [routerLink]="[album.id]" title="Подробнее"><i class="fas fa-outdent"></i></a>
                <!-- <button (click)="goToAlbum(id)" class="btn btn-light d-flex justify-content-center"  title="Подробнее"><i class="fas fa-outdent"></i></button> -->
            </div>
        </div>
        <br>
    </div>  
</div>
<router-outlet></router-outlet>