/* You can add global styles to this file, and also import other style files */


:focus {
    outline: none;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
  
.side-menu {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 3px solid #e7e7e7;
}
  /* Main body section */
.side-body {
    margin-left: 255px;
}